body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

.header-top {
    width: 100%;
    height: 56px;
    background-color: #9D44C0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 100px 100px;
}

.container-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 48px;
}

.font-header {
    font-size: 14px;
    color: aliceblue;
}

.header-mid {
    width: 100%;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header-mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 56px;
}

a.berubah:hover,
a.berubah:active {
    color: #9D44C0;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}


.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 220px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #9D44C0;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

.carousel-inner img {
    width: 100%;
    opacity: 65%;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 200px;
    top: 70px;
    left: 50px;
    right: 50px;
}

.judul {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
}

.sub-judul {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.icon-box {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
    background-color: rgba(127, 137, 161, 0.25);
}

.icon-box i {
    float: left;
    color: #9D44C0;
    font-size: 40px;
}

.icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: #9D44C0;
}

.icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
}

.icon-box span {
    margin-left: 70px;
    line-height: 24px;
}

.container-content-3 {
    width: 100%;
    height: 600px;
    background-color: #9D44C0;
    color: #f5f5f5;
}

.isi-1 {
    height: 140px;
    margin-bottom: 60px;
}

.isi-1-p {
    padding-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 60px;
}

.isi-1-h2 {
    padding-bottom: 24px;
    font-size: 42px;
    font-weight: 900;
}

.isi-2 {
    height: 360px;
    color: black;
}

.icon-box-2 {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
    background-color: #f5f5f5;
}

.icon-box-2 i {
    float: left;
    color: #9D44C0;
    font-size: 40px;
}

.icon-box-2 h4 {
    margin-left: 15px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: #9D44C0;
}

.icon-box-2 p {
    margin-left: 15px;
    line-height: 24px;
    font-size: 14px;
}

.icon-box-2 span {
    margin-left: 70px;
    line-height: 24px;
}

.container-content-4 {
    margin-top: 50px;
}

.box-berita {
    width: 263px;
    background-color: #9D44C0;
    padding-bottom: 8px;
}

a.berubah-2{
    color: #f5f5f5;
}

a.berubah-2:hover,
a.berubah-2:active {
    color: black;
    text-decoration: none;
}

.box-readmore{
    width: 116px;
    height: 30px;
    background-color: #EC53B0;
    margin: 17px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content-5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-content-Form{
    width: 80vw;
    height: 100%px;
    padding: 60px 60px 0px;
    background-color: #9D44C0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-tulisan{
    width: 75vw;
    height: 270px;
    padding: 10px;
    color: #f5f5f5;
}
.form-container {
    width: 100%;
  }
  label {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
  }
  input, textarea {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border : 0;
    border-radius: 5px;
  }
  .buttonSubmit {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    background: #EC53B0;
    line-height: 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
    border: 0px;
    transition: color .4s ease-out, .4s ease-out;
  }
  .button:hover {
    background: rgb(200, 139, 133);
    transform:scale(1.02);
  }
  .errors {
    display: block;
    color: red;
    margin-top: 5px;
  }
  .error {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    box-shadow: 0 0 15px 0 rgba(255,36,0,1);
  }